# Ambiente virtuale
anomaly_env/
env/
venv/

# Python cache
__pycache__/
*.pyc

# Modelli salvati
*.pth

# Dataset (non caricare MVTec!)
bottle/
data/
inference_results_anomalies/
inference_results_good/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
